    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h3>Basic Information</h3>
      <div id="groupone">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>
     <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control', placeholder: "Enter phone number" %>
      </div>
  </div>
    <div id="backup" class="signupform hide">
        <i class="fa fa-chevron-up"></i>
        </br>
        <small>Show/Hide information</small>
    </div>
    <div class="form-group" id="role">
        <%= f.label :role %>
        </br>
        <small>Select "Customer" if you are looking to get your house cleaned.  If you are looking to provide housecleaning services, please select "Vendor" for your role.</small>
         </br>
         <%= f.select :role, [['Vendor','Vendor'],['Customer','Customer']], prompt: "Choose your role"%>
        </div>
        <div id="vendorquestions" class="hide form-inline">
       
        <h3>Rates</h3>
        <small>Clean Sweep charges clients by taking a vendor's base fee and adding on additional fees for each bedroom and bathroom that is cleaned.  For example, Joe is a vendor with a base rate of $30, who charges $10/bathroom and $7/bedroom.  A client who hires Joe to clean a 2 bedroom and 2 bathroom home, will pay $64 ($30+(2x$7)+(2*$10)) </small>
        </br>
        </br>
        <div class="form-group col-md-4">
        <%= f.label :base_rate%>
        <%= f.number_field :base_rate, class: 'form-control', placeholder: "Enter rate" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :bedroom_rate%>
        <%= f.number_field :bedroom_rate, class: 'form-control', placeholder: "Enter rate" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :bathroom_rate%>
        <%= f.number_field :bathroom_rate, class: 'form-control', placeholder: "Enter rate" %>

      </div>
      <div class="col-md-12">
        <h3>Zipcode</h3>
        <small>Please enter your zipcode for your area.  This will help customers near you find your services.</small>
      </br>
      <div class="form-group col-md-4">
        <%= f.label :zipcode%>
        <%= f.number_field :zipcode, class: 'form-control', placeholder: "Enter zipcode" %>
      </div>
   </div>
        </div>
 </br>
        <div id="groupthree" class="hide">
            <h3>Set Your Password</h3>
       <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
      </div>
  </div>
      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
      
    <% end %>