<%if booking.status=='pending'%>
  <div class="panel panel-warning">
<%elsif booking.status=='confirmed'%>
  <div class="panel panel-success">
<%elsif booking.status=='rejected by vendor' || booking.status=='canceled by Customer' || booking.status=='canceled by Vendor'%>
  <div class="panel panel-danger">
 <%elsif booking.status=='completed'%>
  <div class="panel panel-info">
<%else%>
  <div class="panel panel-danger>
<%end%>

<div class="panel-heading">
<h3><i class="glyphicon glyphicon-calendar"></i> Booking for <%=booking.date.strftime("%B %e, %Y")%></h3></div>
<div class="panel-body">
  <div class="col-md-12">
    <div class="col-md-12">
      <body><b>Location: </b><%=booking.property.name_and_full_address%></body>
    </div>
    <div class="col-md-5">
  <body><b>Customer: </b><%=booking.customer.name%></body>
</br>
<body><b>Vendor: </b><%=booking.vendor.name%></body>
<body><b>Rate: </b><%=booking.cost%></body>
</div>
<div class="col-md-5">
<body><b>Time: </b><%=booking.time.strftime("%l:%M %P")%></body>
</br>
<body><b>Status: </b><%=booking.status%></body>
</div>
<div class="col-md-2">
   <%if @user.role=='Vendor' && booking.status=='pending'%>
 <button class="btn btn-success confirmation"><%=link_to "Confirm Booking", confirm_booking_path(booking), method: :get %></button>
 <button class="btn btn-danger confirmation"><%=link_to "Reject Booking", reject_booking_path(booking), method: :get %></button>
 <%end%>
 <%if @user.role=='Customer' && booking.status=='pending'%>
 <button class="btn btn-danger confirmation"><%=link_to "Cancel Booking", cancel_booking_path(booking), method: :get %></button>
  <%end%>
 <%if booking.status=='confirmed'%>
 <button class="btn btn-danger confirmation"><%=link_to "Cancel Booking", cancel_booking_path(booking), method: :get %></button>
 <%end%>
 <%if booking.status=='confirmed' && @user.role=='Vendor'%>
 <button class="btn btn-info confirmation"><%=link_to "Complete Booking", complete_booking_path(booking), method: :get %></button>
 <%end%>
</div>
</div>
</div>
</div>