<div class="panel">
<div class="panel-heading">
<h4><i class="glyphicon glyphicon-user"></i> <%=vendor.name%></h4></div>
<div class="panel-body">
  <div class="col-md-8">
  <body><b>Vendor's Price: </b><%=vendor.rate(@property)%></body>
</br>
<%if vendor.rating.present?%>
  <body><b>Rating:</b><%=vendor.rating%><%(vendor.rating.round).times do%>
    <i class="fa fa-star"></i>
  <%end%>(<%=link_to "read reviews", reviews_path(vendor)%>)</body>
  <%else%>
  <body><b>Rating:</b> none yet</body>
  <%end%>
</div>
<div class="col-md-4">
  <span class="booking-select"><%=link_to "Select Vendor", next_wizard_path(:booking=>@booking,:vendor=>vendor)%></span>
</div>
</div>
</div>