<div class="page">
  <div class="row">
    <body>You've selected a booking with <%=@vendor.name%> on <%=@booking.date.strftime("%B %e, %Y")%>.  Please select a time for the booking.</body>
    <div class="col-md-12">
  <h3><%=@vendor.name%>'s Schedule</h3>
  <table class="table">
       
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Start Time</th>
            <td><%=if @vendor.schedule.monday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.monday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
             <td><%=if @vendor.schedule.tuesday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.tuesday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.wednesday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.wednesday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.thursday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.thursday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.friday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.friday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.saturday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.saturday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.sunday_start.nil? 
                  '-' 
                  else
                    @vendor.schedule.sunday_start.strftime("%l:%M %P")
                  end
                %>
            </td>
          </tr>
          <tr>
            <th scope="row">End Time</th>
            <td><%=if @vendor.schedule.monday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.monday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.tuesday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.tuesday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.wednesday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.wednesday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.thursday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.thursday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.friday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.friday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.saturday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.saturday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
            <td><%=if @vendor.schedule.sunday_end.nil? 
                  '-' 
                  else
                    @vendor.schedule.sunday_end.strftime("%l:%M %P")
                  end
                %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </br>
  <%= form_for(@booking, :url=> wizard_path, :method => :put) do |f|%>
    <div class="form-group col-md-12">
        <%=f.label :choose_a_time%>
       <%= f.time_field :time, class: 'form-control'%>
       <%= f.hidden_field :status,:value => "pending"%>
        <%= f.hidden_field :id,:value => @booking.id%>
        <%= f.hidden_field :cost,:value => @booking.vendor.rate(@booking.property)%>
      </div>
    <div class="col-md-12">
       <%= f.submit "Confirm Booking", class: 'btn btn-success' %>
    </div>
  <%end%>
</div>
</div>
